server {
    listen 80;
    server_name app.${RB_PROXY_FRONTEND_HOST};

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }
}

server {
    listen 80;
    server_name app.${RB_PROXY_FRONTEND_HOST_OLD};

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }
}